<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Book Your Ticket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <body>
    <h1>Event Ticket Booking</h1>

    <form action="/users/bookTicket" method="post">
      <label for="name">Enter your name:</label><br>
      <input type="text" name="name" id="name" required />
            <label for="name">Enter your email:</label><br>
      <input type="text" name="email" id="email" required />
            <label for="name">Enter your phone:</label><br>
      <input type="text" name="phone" id="phone" required />
       <label>Number of Tickets:</label>
  <input type="number" name="ticketCount" min="1" max="5" value="1" required /><br />
      <br><br>
      <button type="submit">Book Ticket</button>
    </form>
  </body>
</html>
