<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
   <!-- Add this in your <head> or before </body> -->
<script src="https://unpkg.com/html5-qrcode"></script>
  <style>
    .flash {
      position: fixed;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 20px;
      border-radius: 6px;
      font-weight: bold;
      color: white;
      z-index: 9999;
    }
    .flash.success { background-color: #28a745; }
    .flash.error { background-color: #dc3545; }
    .flash.warning { background-color: #ffc107; color: #333; }
  </style>
</body>

</head>
<body>
 
 {{#if msg}}
  <div id="flash-message" class="flash {{type}}">
    {{msg}}
  </div>
{{/if}}

<h2>Scan Ticket QR Code</h2>
<div id="reader" style="width: 600px"></div>
<p id="result"></p>



<script>
  const params = new URLSearchParams(window.location.search);
  const msg = params.get("msg");
  const type = params.get("type");

  if (msg) {
    const flash = document.getElementById("flash-message");
    flash.innerText = msg;
    flash.classList.add(type);
    flash.style.display = "block";

    setTimeout(() => {
      flash.style.display = "none";
    }, 3000);
  }

 let canScan = true; // cooldown flag

  function onScanSuccess(decodedText) {
    setTimeout(() => {
    window.location.href = `/users/validate/${decodedText}`;
    }, 4000);
    canScan = false; // block further scans

    // Allow scanning again after 4 seconds

  }

  window.onload = () => {
    const html5QrCode = new Html5Qrcode("reader");
    const savedCamera = localStorage.getItem("preferredCamera");

    if (savedCamera) {
      html5QrCode.start(savedCamera, { fps: 10, qrbox: 250 }, onScanSuccess);
    } else {
      Html5Qrcode.getCameras().then(devices => {
        const cameraId = devices[0].id;
        localStorage.setItem("preferredCamera", cameraId);
        html5QrCode.start(cameraId, { fps: 10, qrbox: 250 }, onScanSuccess);
      });
    }
  };

</script>


</body>
</html>
